.toggle-button {
    margin: 16px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}

a:hover, a:active {
    color: #69f0ae;
}

.header-nav {
    padding: 0;
    margin: 0;
}